.navbar-brand{
  display: none;
}

.navbar .navbar-nav .nav-link{
  text-transform: uppercase;
}

.navbar .navbar-nav .nav-item:not(:last-child) .nav-link{
  margin-right: 45px;
}

.navbar{
  padding: 32px 50px;
}

.home-area .home-name{
  color: #dbdbdb;
}

.home-area .home-headline{
  color: #dbdbdb;
}

.home-area .fixed-wrapper .social-icons i.icon{
  color: #bababa;
}

.home-area .fixed-wrapper .social-icons i.icon:hover{
  color: #009e66!important;
}

@media (max-width: 575.98px){
  .home-area {
    background-position: 20% center;
  }
}